<launch>
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="/dev/serial0:57600" />
    <arg name="fcu_protocol" value="v2.0" />
  </include>
  <node
    pkg="px4_mavros"
    type="offb_node"
    name="offb_node"
    respawn="true" />
  <node
    pkg="eraser_dropper"
    type="eraser_dropper"
    name="eraser_dropper"
    respawn="true">
    <param name="servo_gpio" type="int" value="23" />
    <param name="servo_min_pulse" type="int" value="1000" />
    <param name="servo_max_pulse" type="int" value="2000" />
  </node>
</launch>
